@import "tailwindcss";

/* Sora Font Family */
@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/assets/Fonts/Sora/Sora-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

  /* HelveticaNeue Family */
  @font-face {
    font-family: "Helvetica Neue", sans-serif;
    src: url("/assets/Fonts/HelveticaNeue/HelveticaNeueBold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
  }





:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, *, body {
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sora", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #6b46c1;
  border-radius: 10px;
  border: 3px solid #161616;
}

::-webkit-scrollbar-thumb:hover {
  background: #966fff;
}

/* Text truncation */
.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Image styling */
.SkillImg {
  height: 35%;
  margin: 1rem 0;
  filter: grayscale(100%);
}

/* Loading Page */
.mainLoadPage::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1900;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrolling Style */
html {
  scroll-behavior: smooth;
}
body {
  overscroll-behavior: none;
}


/* Helvetica Neue --- Font Family */
.Helvetica{
  font-family: "Helvetica Neue", sans-serif;
}


/* Responsive */
@media (max-width: 500px) {
  .ResponsiveImage {
    width: 280px;
    height: 304px;
  }
}

.select option:hover{
  background-color: transparent !important;
}
